.ropeproject
node_modules
**/node_modules/
bower_components
.vscode
.idea
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
.pytest_cache

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
sdist/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Sphinx documentation
docs/_build/
/.project
/.pydevproject

# Eclipse
.project/
.pydevproject/

# i18n tools output
ckanext/schemingdcat/i18n/tools/output/*
ckanext/schemingdcat/i18n/tools/input/*
ckanext/schemingdcat/i18n/tools/input/input.yaml

# custom harvesters
doc/harvesters/*_config.*.json
doc/harvesters/*_config.json
doc/harvesters/*.config.json
!doc/harvesters/ckan_template_config.json
!doc/harvesters/xls_template_config.json
!doc/harvesters/csw_template_config.json
!doc/harvesters/sql_template_config.json
ckanext/schemingdcat/lib/csw_mapper/output

# MKDocs
docs/tools/output
docs/tools/venv