gspread==6.1.2
msal==1.29.0
Office365-REST-Python-Client==2.5.5
openpyxl==3.1.2
pandas==2.2.2
rdflib>=6.1.1,<7.1.0
lxml==5.3.0

# ckanext-spatial compatibility with NumPy 2.0: https://github.com/shapely/shapely/issues/1972
Shapely==2.0.6

# OWSLib compat
OWSLib==0.31.0; python_version < '3.10'
OWSLib==0.32.0; python_version >= '3.10'

# CSW Harvester
saxonche==12.5.0